extends ../layouts/default.pug

block content 
  .cell.small-12
    h2.margin-bottom-2 #{pageTitle}
  .cell.small-12
    form(action=`/admin/edit-product/${product.id}` method="POST")
      p
        input(type="text" name="title" placeholder="Product name", value=product.title required)
      p
        input(type="text" name="imageUrl" placeholder="Image URL", value=product.imageUrl required)
      p
        input(type="number" name="price" placeholder="Price", step="0.0", value=product.price required)
      p
        textarea(name="description", rows="10", placeholder="Description" required)
          | #{product.description}
      input(type="hidden" value=product.id name="productID")
      p
        button.button(type="submit") SAVE